/* CSS Document */
*{
	margin:0px;
	padding:0px;
	border:0px;
	list-style:none;
	}

	html {
		scroll-behavior: smooth;
	  }
.logo_beijing{
	width:200px;
	height:750px;
	background-color:#7DB0BF;
	position:relative;
	float:left;
	position:fixed;
	}
.a_top{
	position:absolute;
	bottom:20px;
	left:35px;
	display:block;
	text-decoration:none;
	color:#FFF;
	font-size:18px;
	}
.a_top:hover{
	text-decoration:underline;
	color:#FC3;
	}
.logo{
	width:100%;
	height:60px;
	margin:0px auto;
	z-index:20;
	position:absolute; 
    left:0; 
    top:0; 
	}
.logo_left{
	width:200px;
	height:60px;
	float:left;
	margin:20px;
	}
.logo_left a{
	text-decoration:none;
	}
.logo_left a p{
	color:#FFF;
	font-size:30px;
	font-weight:bold;
	text-shadow:2px 2px 2px #FFFFFF;
	}
.logo_left a span{
	color:#FFF;
	font-size:14px;
	line-height:30px;
	}
.top_nav{
	width:200px;
	height:500px;
	}
.nav_none{
	width:200px;
	height:60px;
	float:left;
	position:relative;
	line-height:60px;
	text-align:center;
	font-size:20px;
	z-index:1000;
	}
.nav_none>a{
	color:#fff;
	text-decoration:none;
	display:block;
	width:200px;
	height:60px;
	border-bottom:1px solid #CCC;
	}
.nav_none>a:hover{
	color:#CCC;
	background-color:#FFF;
	}
#nav_one,#nav_two,#nav_three,
#nav_four,#nav_five,#nav_six{
	width:120px;
 	display:none;
 	position:absolute;
 	left:200px;
 	top:0px; 
	border-radius:0px 8px 8px 8px;
	line-height:30px;
	text-align:center;
	font-size:15px;
    background-color:#fff; 
	}
#nav_one a,#nav_two a,#nav_three a,
#nav_four a,#nav_five a,#nav_six a{
	display:block;
	color:#858585; 
	text-decoration:none;
	}
#nav_one>a:hover,#nav_two>a:hover,#nav_three>a:hover,
#nav_four>a:hover,#nav_five>a:hover,#nav_six>a:hover{
	color:#FFF;
	background-color:#CCC;
	}
.container{
	margin-left:660px;
	width:370px;
	height:330px;
	position:relative;
}
#carousel{
	width:100%;
	height:100%;
	position:absolute;
	transform-style:preserve-3d;
	animation:rotation 20s infinite linear;
}
#carousel:hover{animation-play-state: paused;}
#carousel figure{
	display: block;
	position: absolute;
	width: 340px;
	height: 300px;
	left: 10px;
	top: 10px;
	overflow: hidden;
	border: solid 5px black;
}
#carousel figure:nth-child(1) { transform: rotateY(0deg) translateZ(500px);}
#carousel figure:nth-child(2) { transform: rotateY(80deg) translateZ(500px);}
#carousel figure:nth-child(3) { transform: rotateY(160deg) translateZ(500px);}
#carousel figure:nth-child(4) { transform: rotateY(240deg) translateZ(500px);}
#carousel figure:nth-child(5) { transform: rotateY(320deg) translateZ(500px);}
#carousel figure:nth-child(6) { transform: rotateY(400deg) translateZ(500px);}
#carousel figure:nth-child(7) { transform: rotateY(480deg) translateZ(500px);}
#carousel figure:nth-child(8) { transform: rotateY(560deg) translateZ(500px);}
#carousel figure:nth-child(9) { transform: rotateY(640deg) translateZ(500px);}
#carousel img{
	width: 340px;
	height: 300px;
	transition: all .5s ease;
}
#carousel img:hover{transform: scale(2);}
@keyframes rotation{
	from{transform: rotateY(0deg);}
	to{transform: rotateY(360deg);}
}
.three_box{
	width:806px;
	height:800px;
	margin:80px 130px 20px 450px;
	}
.three_box img:hover{
	transform:translate(0px,-30px);
	box-shadow:0 5px 5px #000000;
	}
.three_box_title{
	width:800px;
	height:150px;
	margin-left:10px;
	}
.three_box_title_left{
	width:40%;
	height:43%;
	border-left:5px solid #000;
	margin-top:30px;
	float:left;
	}
.three_box_title_right{
	width:50%;
	height:100%;
	font-size:150px;
	font-weight:bold;
	color:#F90;
	float:right;
	margin-top:-40px;
	}
.three_box_center{
	width:808px;
	height:404px;
	}
.three_box_center_left{
	width:400px;
	height:400px;
	float:left;
	margin:0px 3px 3px 0px;
	}
.three_box_center_right{
	width:404px;
	height:400px;
	float:right;
	}
.three_box_center_right_one{
	width:200px;
	height:200px;
	float:left;
	margin:0px 3px 5px 0px;
	}
.three_box_center_right_two{
	width:200px;
	height:200px;
	float:right;
	}
.three_box_center_right_three{
	width:400px;
	height:200px;
	float:left;
	}
.three_box_center_right_three_box{
	width:396px;
	height:185px;
	border:4px dashed #FF0;
	}
.three_box_center_right_three_box h2{
	margin:5px;
	}
.three_box_center_right_three_box p{
	font-size:16px;
	color:#999;
	margin:5px;
	line-height:20px;
	}
.three_box_center_right_three_box a{
	text-decoration:none;
	color:#ff0000;
	line-height:30px;
	}
.three_box_center_right_three_box span{
	color:#F90;
	}
.three_box_center_right_three_box a:hover{
	color:#F90;
	text-decoration:underline;
	}
.three_box_center_bottom{
	width:810px;
	height:200px;
	}
.three_box_center_bottom_left{
	width:200px;
	height:200px;
	float:left;
	}
.three_box_center_bottom_center{
	width:400px;
	height:200px;
	float:left;
	margin-left:5px;
	}
.three_box_center_bottom_right{
	width:200px;
	height:200px;
	float:right;
	}
.four_box{
	width:1518px;
	height:50px;
	background-color:#7DB0BF;
	}
.four_box h2{
	text-align:center;
	color:#FFF;
	line-height:50px;
	font-family:"楷体";
	}